# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
.venv/
env/

# IDE & Editor
.vscode/
.idea/
*.swp

# Environment variables
.env

# Build & Distribution
build/
dist/
*.egg-info/

# Imágenes PNG
*.png

# Archivos CSV
*.csv