{% extends "base.html" %}

{% block title %}Prediction & Results{% endblock %}

{% block content %}
    <div class="container">
        <h1>Here we can see predictions and some results</h1>
        
        {% if show_button and not resultados %}
            <div class="prediction-form">
                <form method="POST" action="/pred-res">
                    <button type="submit" class="btn btn-primary">Realizar predicción</button>
                </form>
            </div>
        {% endif %}
        
        <!-- Si los resultados pasados en la funcion para renderizar existen, empezamos a crear secciones para mostrarlos -->
        {% if resultados %}
            <div class="results-section">
                <h2 class="sub-title">Resultados de la Predicción</h2>
                <div class="precision">
                    <p><strong>Precisión:</strong> {{ resultados.precision }}</p>
                </div>
                
                <div class="confusion-matrix">
                    <h3>Matriz de Confusión:</h3>
                    <table class="table table-bordered">
                        {% for row in resultados.matriz_confusion %}
                            <tr>
                                {% for value in row %}
                                    <td>{{ value }}</td>
                                {% endfor %}
                            </tr>
                        {% endfor %}
                    </table>
                </div>

                <div class="classification-report">
                    <h3>Reporte de Clasificación:</h3>
                    <pre>{{ resultados.reporte_clasificacion }}</pre>
                </div>

                <div class="image-container">
                    <div class="confusion-matrix-image">
                        <h3>Visualización de la Matriz de Confusión:</h3>
                        <img src="{{ url_for('static', filename='matriz_confusion.png') }}" alt="Matriz de Confusión" class="img-fluid">
                    </div>
                    <div class="sigmoid-curve-image">
                        <h3>Visualización de la Curva Sigmoide:</h3>
                        <img src="{{ url_for('static', filename='curva_sigmoide.png') }}" alt="Curva Sigmoide" class="img-fluid">
                    </div>
                </div>

                <!-- <h3>Resultados Reales vs Predichos</h3>
                <table>
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Real</th>
                            <th>Predicho</th>
                            <th>Acción</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for id, real, predicho in resultados.muestra_resultados %}
                            <tr>
                                <td>{{ id }}</td>
                                <td>{{ real }}</td>
                                <td>{{ predicho }}</td>
                                <td>
                                    Mostremos solo la informacion de aquellos aptos predichos correctamente
                                    {% if predicho == "Sí" and real == "Sí" %}
                                        <form method="GET" action="/candidato/{{ id }}">
                                            <button type="submit" class="btn btn-info">Ver Información</button>
                                        </form>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table> -->

                <div class="real-vs-predicted-section mt-5">
                    <h3 class="text-center text-primary">Resultados Reales vs Predichos</h3>
                    <div class="table-responsive">
                        <table class="table table-striped table-hover table-bordered">
                            <thead class="thead-dark">
                                <tr>
                                    <th>ID</th>
                                    <th>Real</th>
                                    <th>Predicho</th>
                                    <th>Acción</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for id, real, predicho in resultados.muestra_resultados %}
                                    <tr>
                                        <td>{{ id }}</td>
                                        <td>{{ real }}</td>
                                        <td>{{ predicho }}</td>
                                        <td>
                                            <!-- Mostremos solo la informacion de aquellos aptos predichos correctamente -->
                                            {% if predicho == "Sí" and real == "Sí" %}
                                                <form method="GET" action="/candidato/{{ id }}">
                                                    <button type="submit" class="btn btn-info btn-sm">Ver Información</button>
                                                </form>
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
