{% extends "base.html" %}

{% block title %}Training{% endblock %}

{% block content %}
    <div class="training-container">
        <h1 class="page-title">This is the Training Page</h1>

        {% if table %}
            <h2 class="sub-title">Estos son los datos generados</h2>

            <div class="table-container">
                <div class="table-responsive table-scroll">
                    {{ table|safe }}
                </div>
            </div>

            <form method="POST" action="/training/train-model">
                <button type="submit" class="btn btn-primary train-btn">Entrenar Modelo</button>
            </form>

        {% else %}
            <p class="no-data-message">No hay datos para mostrar.</p>
        {% endif %}
    </div>
{% endblock %}