.training-container {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9; /* Fondo claro */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.page-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.sub-title {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 15px;
}

.table-container {
    margin-bottom: 20px;
}

.train-btn {
    background-color: #17a2b8;
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin-block-end: 20px;
}

.train-btn:hover {
    background-color: #138496;
}

.no-data-message {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
    margin-top: 20px;
}

.table-scroll {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.table-scroll table {
    width: 100%;
    border-collapse: collapse;
}

.table-scroll th, .table-scroll td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-scroll th {
    background-color: #138496;
    color: white;
    position: sticky;
    top: 0;
}
