.training-container {
    max-width: 1300px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9; /* Fondo claro */
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.page-title {
    text-align: center;
    font-size: 2rem;
    color: #333;
    margin-bottom: 20px;
}

.sub-title {
    font-size: 1.5rem;
    color: #555;
    margin-bottom: 15px;
}

.table-container {
    margin-bottom: 20px;
}

.train-btn {
    background-color: #17a2b8 !important;
    color: white;
    font-size: 1.2rem;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: block;
    margin-block-end: 20px;
}

.train-btn:hover {
    background-color: #138496 !important;
}

.no-data-message {
    text-align: center;
    font-size: 1.2rem;
    color: #888;
    margin-top: 20px;
}

.table-scroll {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 8px;
}

.table-scroll table {
    width: 100%;
    border-collapse: collapse;
}

.table-scroll th, .table-scroll td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.table-scroll th {
    background-color: #138496 !important;
    color: white;
    position: sticky;
    top: 0;
}

/* ----------------------------------------------------------------------- */

/* Estilo para el contenedor del botón de descarga */
.download-container {
    text-align: start;  /* Centrar el contenedor */
    margin-top: 30px;     /* Espaciado superior */
}

/* Estilo para el botón de descarga */
.download-btn {
    background-color: #17a2b8 !important; /* Fondo azul */
    color: white; /* Texto blanco */
    border: none; /* Eliminar borde */
    padding: 10px 20px; /* Espaciado interno */
    font-size: 1rem; /* Tamaño de fuente */
    border-radius: 5px; /* Bordes redondeados */
    cursor: pointer; /* Cambiar cursor cuando pasa sobre el botón */
    transition: background-color 0.3s ease; /* Efecto de transición en el color */
}

.download-btn:hover {
    background-color: #138496 !important; /* Cambiar color cuando pasa el mouse */
}

/* Estilo para el título de la distribución de clases */
h3 {
    color: #343a40; /* Color oscuro */
    font-size: 1.5rem; /* Tamaño de fuente */
    text-align: center; /* Centrar título */
    margin-top: 40px; /* Espaciado superior */
}

/* Estilo para la tabla */
.table {
    width: 80%; /* Ancho de la tabla */
    margin: 20px auto; /* Centrar la tabla */
    border-collapse: collapse; /* Eliminar espacio entre celdas */
    background-color: #f8f9fa; /* Fondo claro */
}

/* Estilo para las celdas de la tabla */
.table th, .table td {
    padding: 10px; /* Espaciado interno */
    text-align: center; /* Centrar texto en las celdas */
    border: 1px solid #ddd; /* Bordes finos y grises */
}

/* Estilo para el encabezado de la tabla */
.table th {
    background-color: #138496; /* Fondo azul para los encabezados */
    color: white; /* Texto blanco */
    font-weight: bold; /* Negrita */
}

/* Estilo para las filas de la tabla */
.table-striped tbody tr:nth-child(odd) {
    background-color: #f2f2f2; /* Fila con fondo gris claro */
}

.table-striped tbody tr:nth-child(even) {
    background-color: #ffffff; /* Fila con fondo blanco */
}
